.title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.title img{
    width: 90%;
    height: 70%;
}
.introduce{
    display: flex;
    flex-direction: row;
}
.drone {
    display: grid;
    margin: 100px;
    grid-template-areas: 
        "video video"
        "highschool dronephoto";
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    background-color: white;
}

#videocontainer {
    grid-area: video;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.highschool {
    grid-area: highschool;
    padding-left: 10vw;
    padding-right: 0;
    color: black;
}

.dronephoto {
    grid-area: dronephoto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.dronephoto img {
    max-width: 100%;
    height: auto;
}

.dronephoto p {
    margin-top: 10px;
    text-align: center;
}

.myproduce{
    margin: 100px;
}