.title{
    width: 50%;
    height: 50%;
    margin-bottom: 100px;
}
.drone {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
}

.videocontainer {
    max-width: 100%;
}