.title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.title img{
    width: 70%;
    height: 70%;
}
.drone {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
}

.videocontainer {
    max-width: 100%;
}